<div class="rating-box">
  <div class="rating-container">
    <input id="star-5" type="radio" name="rating" value="5" id="star-5"> <label for="star-5">&#9733;</label>

    <input id="star-4" type="radio" name="rating" value="4" id="star-4"> <label for="star-4">&#9733;</label>

    <input id="star-3" type="radio" name="rating" value="3" id="star-3"> <label for="star-3">&#9733;</label>

    <input id="star-2" type="radio" name="rating" value="2" id="star-2"> <label for="star-2">&#9733;</label>

    <input id="star-1" type="radio" name="rating" value="1" id="star-1"> <label for="star-1">&#9733;</label>
  </div>
</div>